@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.title{
  width: 200px;
}

.pokemon{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.name{
  font-size: 30px;
}

.pokemon-img{
  width: 150px;
}
